[Unit]
Description=deka arm server

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/rppl/www/bin/python3 /usr/rppl/deka_server.py

[Install]
WantedBy=multi-user.target
