[Unit]
Description=Kill XipppyServer on powerdown

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/usr/rppl/www/bin/python3 /usr/rppl/kill_XipppyServer.py

[Install]
WantedBy=multi-user.target