[Unit]
Description=XipppyServer
After=deka_server.service

[Service]
ExecStartPre=/bin/sleep 15
ExecStart=/usr/rppl/www/bin/python3 /usr/rppl/XipppyServer.py

[Install]
WantedBy=multi-user.target
